.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.button-xo {
  width: 250px;
  height: 40px;
  background-color: darkcyan;
  font-size: calc(10px + 2vmin);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}
.button-xo:active {
  filter: brightness(80%);
}

.button-xo-red {
  width: 250px;
  height: 40px;
  background-color:brown;
  font-size: calc(10px + 2vmin);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}
.button-xo-red:active {
  filter: brightness(80%);
}

.div-aula {
  text-align: left;
}

.div-nappula {
  text-align: center;
}

.input-xo {
  vertical-align: auto;
  font-size: 24px;
  border-style: none;
  padding: 4px;
  border-radius: 10px;
  margin-top: 10px;
  width: 300px;
}

.ristinollapeli {
  width: calc(20 * 40px);
  /*height: calc(20 * 40px);*/
  padding: 0px;
  /*background-image: url('./images/selma2.png');*/
  background-size: cover;
  /*background-color: cornflowerblue;*/
}

.peliruutu {
  width: 40px;
  height: 40px;
  text-decoration: none;
  vertical-align: top;
  font-size: xx-large;
  border: solid;
  border-color: cornflowerblue;
  border-width: 1px;
  cursor: pointer;
  font-family: cursive;
  text-align: center;
  line-height: 100%;
  background-color: whitesmoke;
}
.peliruutu:hover {
  background-color: gainsboro;
}

.peliruutu-1 {
  width: 40px;
  height: 40px;
  text-decoration: none;
  vertical-align: top;
  font-size: xx-large;
  border: solid;
  border-color: cornflowerblue;
  border-width: 1px;
  cursor: pointer;
  font-family: cursive;
  text-align: center;
  color: green;
  line-height: 100%;
  background-color: whitesmoke;
}
/*.peliruutu-1:hover {
  background-color: gainsboro;
}*/

.peliruutu-2 {
  width: 40px;
  height: 40px;
  text-decoration: none;
  vertical-align: top;
  font-size: xx-large;
  border: solid;
  border-color: cornflowerblue;
  border-width: 1px;
  cursor: pointer;
  font-family: cursive;
  text-align: center;
  color: brown;
  line-height: 100%;
  background-color: whitesmoke;
}
/*.peliruutu-2:hover {
  background-color: gainsboro;
}*/

.peliruutu5x5 {
  margin: 4px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  vertical-align: top;
}

.muistipeli {
  max-width: 650px;
  vertical-align: center;
}

.kortti {
  margin: 0px;
  width: 150px;
  height: 150px;
  text-decoration: none;
  vertical-align: top;
}

.taskulaskin {
  max-width: 432px;
  vertical-align: center;
  background-image: url('./images/selma1.png');
  background-size: cover;
}

.näyttö {
  font-size: 40px;
  padding: 10px;
  margin: 4px;
  width: 432px;
  height: 50px;
  text-decoration: none;
  vertical-align: top;
  text-align: right;
}

.näppäin {
  font-size: 40px;
  margin: 4px;
  width: 100px;
  height: 100px;
  text-decoration: none;
  vertical-align: top;
}

.game {
  width: 350px;
}


